*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{  
  font-family: "Open Sans", sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background: #f3f703;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    text-align: center;
}

.search__controls {
    position: relative;
    left: 20%;
    top: 100px;
}

.search-controls {
    max-width: 350px;
    padding: 20px;
    box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.27);
    
}

.search-controls__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}   

#search-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#search-form select,
label,
input {
    margin-bottom: 20px;
    outline: none;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    padding-bottom: 10px;
}

#search-form label {
    font-size: 14px;
    color: #000000b4;
    border: 0px;
}

.search-btn {
    outline: hidden;
    border: 0px;
    padding: 20px;
    text-transform: uppercase;
    color: #000000b4;
    font-weight: 600;
     box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17);
    transition: 0.5s;
    margin-bottom: 10px;
}

/* .search-btn:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17) inset;
    -webkit-box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17) inset;
    -moz-box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17) inset;
} */

img{
    width: 100%;
    display: block;
}

.search-btn:hover {
    cursor: pointer;
    box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 10px 10px 28px 6px rgba(0, 0, 0, 0.17);
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
}

.card-news{
    /* max-width: 350px; */
    width: 40%;
    background: rgb(49, 49, 49, 0.479);
    padding: 25px;
}

.card-news__img{
    width: 100%;
    height: auto;
    max-height: 1000px;
    margin-bottom: 25px;
}

.card-news__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.card-news__content{
    font-size: 16px;
    font-weight: 300;
}